
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .u-clearfix:before,
  .u-clearfix:after {
    content: " ";
    display: table;
  }
  
  .u-clearfix:after {
    clear: both;
  }
  
  .u-clearfix {
    *zoom: 1;
  }
  
  .subtle {
    color: #aaa;
  }

  .subtle-circle {
    color: #aaa;
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .subtle-inf {
   
    font-family: 'Cormorant Garamond', serif;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
   
    
  }
  
  .card-container {
    margin: 25px auto 0;
    position: relative;
    max-width: 692px;
    width: 100%;
  }
  
  .card {
    background-color: #0b2551;;
    padding: 2rem;
    position: relative;
    box-shadow: 0 0 5px rgba(75, 75, 75, .07);
    z-index: 1;
    border-radius: 1.5rem;
  }
  
  .card-body {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
  }
  .card-cicrle-text {
    font-size: 1.4rem;
    letter-spacing: .5px;
    margin: 1rem 0 0;
    color: #fff;
  }
  
  .card-number {
    margin-top: 1rem;
  }
  
  .card-circle {
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    height: 4rem;
    margin-inline: auto;
    align-items: center;
    width: 4rem;
    margin-bottom: 1rem;
  }
  
  .card-author {
    display: block;
    font-size: 1.4rem;
    letter-spacing: .5px;
    margin: 1rem 0 0;

  }
  
  .card-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 4rem;
    font-weight: 300;
    line-height: 4rem;
    margin: 1rem 0;
    color: #fff;
  }

  .card-description {
  
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    margin: 1rem 0;
    color: #fff;
    display: flex;
    justify-self: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .card-read {
    cursor: pointer;
    position: relative;
    display:flex;
   
    padding-inline: 3rem;
   
    color: #fff;
    
   
  }
  .icons {
    
    align-self: center;
    justify-content: center;
    margin-right: 1rem;
    margin-top: 1rem;
   
  }
  .card-read:after {
    background-color: #b8bddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 0.5rem;
    width: 75%;
  }
  
  .card-tag {
    float: right;
    margin: 0.3rem 0 0;
  }
  
  .card-media {
    float: right;
    color: #fff;
  }
  .pagination{
    display: flex;
    border-radius: 2Rem;
    width: 2.5rem;
    align-items: space-around;
    margin-inline: auto;
    margin-bottom: 10rem;
    align-items: center;
    justify-content: center;
    
  }
