<div class="card-container">
    <div class="card u-clearfix">
      <div class="card-body">
        <span class="card-author subtle">Dr.</span>
        <h2 class="card-title">{{surgeon?.name}}</h2>
        <span class="card-number card-circle card-cicrle-text">{{surgeon?.numInterventions}}</span>
        <span class="subtle-circle">Interventions</span>
        <span class="card-description card-speciality">{{surgeon?.mostFrequentSpecialty}}</span>
        <div class="card-read">
          <i class="fa fa-medkit fa-2x icons" aria-hidden="true"></i>
          <span class="card-author subtle-inf">{{"Infirmierer(e) : " + (surgeon?.mostFrequentNurse || "Non attribué")}}</span>
        </div>
        <div class="card-read">
          <i class="fa fa-heartbeat fa-2x icons" aria-hidden="true"></i>
          <!-- <span class="card-author subtle">{{surgeon?.anesthetist}}</span> -->
          <span class="card-author subtle-inf">{{"Anesthetiste : " + (surgeon?.mostFrequentAnesthesist || "Non attribué")}}</span>


        </div>
      </div>
      <i class="fa fa-user-md fa-8x card-media" aria-hidden="true"></i>
    </div>
    <div class="card-shadow"></div>
  </div>
  <button class="btn pagination" onclick="history.back()"><i class="material-icons myLogo">arrow_back</i></button>
  