<form action="#">
    <div class="file-field input-field">
      <div class="btn" id="add">
        <span>Add CSV file</span>
        <input type="file" (change)="readCSV($event)">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </form>

  <ul class="tilesWrap">
    <li *ngFor="let surgeon of getSurgeonStatsForPage()">
      <h2>Dr.</h2>
      <div>
        <h3>{{ surgeon.name }}</h3>
        <h4>{{ surgeon.specialty }}</h4>
        <div id="numInterventions">
          <h4>{{ surgeon.numInterventions }}</h4>
          <p>Interventions</p>
        </div>
      </div>
      <button><a [routerLink]="['/surgeonDetails']" [queryParams]="{ id: surgeon.id }" (click)="goToSurgeonDetails(surgeon)">View details</a></button>
    </li>
  </ul>
  <div class="pagination">
    <button class="btn pagination1" [disabled]="currentPage === 1" (click)="prevPage()"><i class="material-icons myLogo">arrow_back</i></button>
    <button class="btn pagination2" [disabled]="currentPage * RESULTS_PER_PAGE >= surgeonStats.length" (click)="nextPage()"><i class="material-icons myLogo">arrow_forward</i></button>
  </div>
  
  
  