#add{
    margin-left: 5vh;
}
.tilesWrap {
	padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
}
.tilesWrap li {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'helvetica', san-serif;
	background: #0b2551;
	border: 1px solid #252727;
	text-align: left;
    height: 40vh;
}
.tilesWrap li h2 {
	font-size: 114px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 50px;
	right: 10px;
	transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
	font-size: 30px;
	color: #fff;
	margin-bottom: 5px;
}
.tilesWrap li h4 {
	font-size: 18px;
	color: #fff;
	margin-bottom: 5px;
}
.tilesWrap li h5 {
	font-size: 18px;
	color: #fff;
	
}
.tilesWrap li #numInterventions {
   
	position: absolute;
    bottom: 1vh;
    right:5vh
}
.tilesWrap li p {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	margin-top: 5px;
}
.tilesWrap li button {
	background: transparent;
	border: 1px solid #fff;
	padding: 10px 20px;
	color: #fff;
	border-radius: 3px;
	position: relative;
	transition: all 0.3s ease-in-out;
	transform: translateY(-40px);
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
}
.tilesWrap li button:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 120%;
	background: #fff;
	top: 0;
	opacity: 0;
	left: -140px;
	border-radius: 0 20px 20px 0;
	z-index: -1;
	transition: all 0.3s ease-in-out;
	
}
.tilesWrap li:hover button {
	transform: translateY(5px);
	opacity: 1;
}
.tilesWrap li button:hover {
	color: #262a2b;
}
.tilesWrap li button:hover:before {
	left: 0;
	opacity: 1;
}
.tilesWrap li:hover h2 {
	top: 0px;
	opacity: 0.6;
}
.pagination{
    display: flex;
    border-radius: 2Rem;
    width: 2.5rem;
    align-items: space-around;
    margin-inline: auto;
    margin-bottom: 10rem;
  
    
}
.pagination1{
    display: flex;
    border-radius: 2Rem;
    width: 2.5rem;
    justify-content: center;
    align-items: center;
    
  
    
}
.input-search{
  
    border-radius: 2Rem;
    
    
    width: 7rem;
  
    
}
.pagination2{
    display: flex;
    border-radius: 2Rem;
    width: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    
  
    
}
