<nav>
    <div class="nav-wrapper blue accent-3">
      <a href="#!" class="brand-logo"><i class="material-icons myLogo">local_hospital</i>MyOp</a>
      <ul class="right hide-on-med-and-down">
      
        <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
  